@charset "UTF-8";

/* Удобный миксин для работы с шрифтами */

/* Конец миксина*/

/* Подключаем файл который подключает и обрабатывает шрифты с помощью gulp */

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Russo One";
  font-display: swap;
  src: url("../fonts/RussoOne-Regular.woff") format("woff"), url("../fonts/RussoOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Конец подключения шрифтов */

/* Обнуляющие стили  asdasd*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-family: 'Russo One', sans-serif;
  background: #FDFDFD;
  font-weight: 400;
}

p {
  color: #d1d1d0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

h3,
a {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #fafafa;
}

a {
  color: #BEBFD7;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.close--mobile {
  display: none;
}

a:hover {
  color: #fff;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* // Обнуляющие стили */

.header {
  width: 100%;
  position: relative;
}

.header::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 912px;
  background: url("../img/header-bg.png") no-repeat center/cover;
  left: 0;
  top: 0;
  z-index: -1;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 46px;
}

.header__content .text {
  margin-top: 39px;
}

.header__content .text h1 {
  font-family: Russo One;
  font-size: 64px;
  line-height: 125%;
  color: #F5F8FF;
  font-weight: 400;
}

.header__content .text h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #D4D6E5;
  margin-top: 30px;
  line-height: 161%;
  width: 73%;
}

.header__menu {
  padding-top: 40px;
}

.header__links a ~ a {
  margin-left: 42px;
}

.header__title {
  width: 695px;
  margin: 25px auto;
}

.header__title small {
  font-size: 16px;
  text-align: center;
  color: #A5781D;
  display: block;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
}

.header__title h1 {
  font-size: 70px;
  line-height: 114%;
  margin: 20px 0 50px 0;
  text-align: center;
}

.header__title a {
  margin: 0 auto;
}

.btn {
  width: 305px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #0CB5AD;
  border-radius: 5px;
  color: #FFFFFF;
  -webkit-transition: 0;
  -o-transition: 0;
  transition: 0;
}

.btn:hover {
  background: #14C8C0;
}

.course-bg-mob {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.gold {
  color: #0CB5AD;
}

.speakers {
  position: relative;
  background: url("../img/speakers-bg.png") no-repeat center/cover;
  height: 628.5px;
}

.speakers .container {
  padding-top: 215px;
}

.speakers::before {
  content: '';
  display: inline-block;
  position: absolute;
  background: url("../img/speakers-pattern.svg") no-repeat;
  height: 530px;
  width: 1050px;
  right: 0;
  top: -85px;
}

.speakers__info {
  width: 485px;
  margin-top: 28px;
}

.speakers__info h2 {
  color: #F5F8FF;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 75px;
}

.speakers__info h3 {
  font-size: 18px;
  font-weight: 400;
  color: #D4D6E5;
  line-height: 150%;
}

.speakers__info h3 a {
  color: #D1D1D0;
}

.speakers__info h3 ~ h3 {
  margin-top: 31px;
}

.speakers__item {
  width: 285px;
  position: relative;
  z-index: 2;
}

.email--mobile {
  display: none;
}

.speakers__item p {
  font-size: 24px;
  font-weight: 400;
  color: #F5F8FF;
  margin-top: 31px;
  text-align: right;
  font-family: 'Russo One';
  text-transform: uppercase;
}

.speakers__item::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 260px;
  height: 260px;
  background: #0CB5AD;
  right: 0;
  top: 22px;
  z-index: -1;
}

.speakers__item ~ .speakers__item {
  margin-left: 30px;
}

.offer__slide {
  height: 932px;
}

.offer {
  margin-top: 100px;
  min-height: 1000px;
}

.offer h2 {
  font-size: 48px;
  color: #F5F8FF;
  font-weight: 400;
}

.offer__cards {
  margin-top: 50px;
  height: 444px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.offer__cards-mob {
  margin-top: 50px;
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
}

.offer__cards-more {
  height: 444px; display: flex; justify-content: space-around; flex-wrap: wrap;
}

.offer__cards-more-btn {
  width: 290px;
  height: 50px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  background: #261E72;
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.offer__cards-more-btn svg {
  margin-right: 5px;
}

.offer__card {
  position: relative;
  width: 375px;
  height: 444px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.offer__card:last-of-type {
  margin-right: 0;
}

.offer__card img {
  width: 100%;
}

.offer__card div {
  margin-top: 20px;
  padding: 0 30px;
}

.offer__card p {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #15161F;
}

.offer__card small {
  font-weight: 500;
  font-size: 20px;
  font-family: Roboto;
  line-height: 100%;
  color: #2147C4;
}

.offer__card a {
  position: absolute;
  bottom: 20px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 5px;
  background: #0CB5AD;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}


.offer__card:nth-child(5) p {
  font-size: 14px;
  margin-bottom: 10px;
}

.courses {
  margin-top: 100px;
}

.courses h2 {
  font-size: 48px;
  color: #272676;
  font-weight: 400;
}

.courses__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.courses__cards a {
  height: 310px;
  width: 285px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 25px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 25px 5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  overflow: hidden;
}

.courses__cards a ~ a {
  margin-left: 20px;
}

.courses__cards a:nth-child(n+5) {
  margin-top: 30px;
}

.courses__cards a:nth-child(5),
.courses__cards a:nth-child(9),
.courses__cards a:nth-child(13),
.courses__cards a:nth-child(17),
.courses__cards a:nth-child(21) {
  margin-left: 0;
}

.courses__card {
  height: 100%;
  width: 100%;
}

.courses__card div {
  margin: 15px 20px 30px 20px;
  position: relative;
  height: 105px;
}

.courses__card img {
  height: 160px;
  width: 285px;
}

.courses__card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #15161F;
  margin-bottom: 10px;
}

.courses__card span {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4D5256;
}

.courses__card small {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #2147C4;
  position: absolute;
  bottom: 0;
  left: 0;
}

.email .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 72px;
}

.email__content {
  width: 387px;
  margin-top: 59px;
}

.email__content h2 {
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #272676;
}

.email__content h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #4D5256;
  margin-top: 40px;
}

.email__content input {
  width: 305px;
  height: 60px;
  background: transparent;
  border: 1px solid #C7C9D5;
  border-radius: 5px;
  margin: 35px 0 20px 0;
  padding: 0 0 0 20px;
  font-size: 16px;
  color: #AEB0BA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.load-more-btn {
  display: none;
}

.footer {
  position: relative;
  background: #251970;
  padding: 50px 0 50px 0;
}

.footer .flex {
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
}

.footer__logo {
  display: block;
}

.menu-mobile {
  display: none;
}

.footer__logo a:first-child {
  margin-bottom: 24px;
}

.footer__logo a {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #928CB7;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.footer__logo a ~ a {
  margin-top: 13px;
}

.footer__links {
  font-family: 'Russo One', sans-serif;
  margin-left: 16.4%;
}

.footer__links a {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #B5B7B9;
  display: block;
}

.footer__links a:nth-child(2) {
  margin: 20px 0 25px 0;
}

.footer__links p {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #928CB7;
}

.footer__soc {
  width: 240px;
  height: 121px;
  margin-left: auto;
  margin-right: 50px;
}

.footer__soc a {
  height: 50px;
  margin: 0 10px;
}

.footer__soc a:nth-child(n+4) {
  margin-top: 20px;
}

.footer-mob {
  display: none;
}

.footer__add__text {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* ADAPTIVE */

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 30px;
    width: auto;
  }

  .container {
    width: 100%;
  }

  .course__info {
    margin-left: 7%;
  }

  .course__bg {
    width: 34%;
  }

  .header__content .text h1 {
    font-size: 41px;
  }

  .header__content .text h2 {
    font-size: 16px;
  }

  .header__content img {
    width: 52%;
  }

  .courses__cards a:nth-child(4),
  .courses__cards a:nth-child(7),
  .courses__cards a:nth-child(10),
  .courses__cards a:nth-child(16),
  .courses__cards a:nth-child(19){
    margin-left: 0px;
  }

  .courses__cards a:nth-child(n+4) {
    margin-top: 30px;
  }

  .courses__cards a:nth-child(5),
  .courses__cards a:nth-child(9),
  .courses__cards a:nth-child(17),
  .courses__cards a:nth-child(21) {
    margin-left: 20px;
  }

  .offer__card {
    margin-bottom: 20px;
  }

  .email {
    padding: 0 30px;
  }

  .speakers {
    padding: 0 30px;
    height: auto;
    background-size: 307%;
  }

  .speakers .container {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .offer__card {
    width: 290px;
    height: 375px;
  }

  .offer__card p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .offer__card a {
    height: 40px;
    font-size: 14px;
  }

  .courses {
    padding: 0 30px;
  }

  .courses h2, .offer h2 {
    padding-left: 3%;
  }

  .courses__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer {
    padding: 50px 30px;
  }

  .speakers::before {
    width: 58%;
  }

  .speakers .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .speakers__info {
    width: 586px;
    margin-bottom: 30px;
  }

  .bonus__text {
    padding: 6% 0 6% 6%;
    width: 46%;
  }

  .bonus__img {
    width: 48%;
    height: 146%;
  }
}

@media screen and (max-width: 980px) {
  .footer__links,
  .footer__soc {
    margin-left: 0;
  }

  .footer .flex {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 954px) {
  .courses__cards a:nth-child(n+3) {
    margin-top: 30px;
  }

  .courses__cards a:nth-child(3),
  .courses__cards a:nth-child(5),
  .courses__cards a:nth-child(9),
  .courses__cards a:nth-child(11),
  .courses__cards a:last-child {
    margin-left: 0;
  }

  .courses__cards a:nth-child(4),
  .courses__cards a:nth-child(10) {
    margin-left: 20px;
  }

  .courses h2, .offer h2 {
    padding-left: 0;
  }

  .courses__cards {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .speakers {
    background: url(../img/speakers-bg.png) no-repeat right/cover;
    background-size: 286%;
  }

  .email__content img {
    width: 48%;
  }
}
@media screen and (max-width: 866px) {
  .courses__cards a:nth-child(15), .courses__cards a:nth-child(17), .courses__cards a:nth-child(21){
    margin-left: 0;
  }
  .courses__cards a:nth-child(16), .courses__cards a:nth-child(18), .courses__cards a:nth-child(22) {
    margin-left: 20px;
  }
}
@media screen and (max-width: 820px) {
  .footer .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer {
    width: auto;
    margin: 0 auto;
    padding: 0 0 50px;
  }

  .footer__logo,
  .footer__links,
  .footer__soc {
    margin-top: 30px;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer__soc {
    width: 190px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    height: 100%;
    margin-right: 0;
  }

  .footer__soc a {
    margin: 0;
  }

  .footer__soc a:nth-child(4) {
    margin: 20px 0 0 0;
  }

  .footer__soc a ~ a {
    margin-left: 20px;
  }

  .footer__links {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .offer__card {
    margin-top: 20px;
  }

  .course {
    position: relative;
  }

  .course .course__bg {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    position: absolute;
    right: 0;
    overflow: hidden;
  }

  .course .course__info {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }

  .speakers {
    padding: 182px 0px 0;
  }

  .speakers .container {
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
  }

  .course__bg .course-bg-mob {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    top: -22%;
  }

  .course-bg {
    display: none;
  }

  .course__bg {
    width: 37%;
  }

  .header__title {
    width: 100%;
  }

  .container {
    width: auto;
    padding: 0 15px;
  }

  .header {
    padding: 0;
  }

  .header__links a {
    display: block;
    text-align: right;
  }

  .header__links a ~ a {
    margin-top: 13px;
  }

  .header__title {
    margin: 15% auto;
    width: 405px;
  }

  .header__title h1 {
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #FAFAFA;
    margin: 20px 0 40px 0;
  }

  .speakers .flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .course__info {
    margin-top: 20px;
    margin-left: 0;
  }

  .course__info h3 {
    width: 94%;
  }

  .course__info h3 ~ h3,
  .speakers__info h3 ~ h3 {
    margin-top: 30px;
  }

  .course__info h2,
  .speakers__info h2 {
    margin-bottom: 55px;
  }

  .speakers::before {
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
  }
}

@media screen and (max-width: 679px) {
  .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__links {
    display: none;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: -o-linear-gradient(348.17deg, #2A3E83 0%, #25176E 95.29%);
    background: linear-gradient(101.83deg, #2A3E83 0%, #25176E 95.29%);
    padding-top: 130px;
    padding-left: 15px;
  }

  .header__links a {
    font-size: 20px;
    line-height: 100%;
    color: #BEBFD7;
    text-align: left;
  }

  .header__links a ~ a {
    margin-top: 50px;
    margin-left: 0;
  }

  .close--mobile {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 100000;
  }

  .header__content {
    display: block;
    margin-top: 20px;
  }

  .header__content .text h1 {
    font-size: 38px;
    line-height: 132%;
  }

  .header__content .text h2 {
    width: 100%;
    margin-top: 20px;
  }

  .header__content img {
    margin-top: 25px;
    width: 100%;
  }

  .header::before {
    background: url(../img/header-bg-mob.png) no-repeat bottom/cover;
    height: 152%;
  }

  .header__menu {
    padding-top: 15px;
  }

  .courses {
    padding: 0;
  }

  .speakers {
    padding-top: 0;
    background: url(../img/speakers-bg-mob.png) no-repeat top/cover;
  }

  .email {
    padding: 0;
  }

  .email img {
    display: none;
  }

  .email--mobile {
    display: block !important;
  }

  .email__content {
    margin: 0 auto;
  }

  .email__content img {
    width: 70%;
    margin: 40px auto 30px auto;
  }

  .speakers__info h2,
  .courses h2,
  .email__content h2,
  .offer h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 610px) {
  .load-more-btn {
    border-radius: 5px;
    border: 0;
    margin: 30px auto 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .load-more-btn img {
    margin-right: 18px;
  }

  .load-more-btn:hover {
    background: #12C8C0;
  }

  .load-more-1,
  .load-more-2,
  .load-more-3,
  .load-more-1-1,
  .load-more-1-2 {
    display: none;
  }

  .offer__card {
    width: 100%;
    height: 460px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .offer__card a {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .courses__cards a:nth-child(4),
  .courses__cards a:nth-child(10) {
    margin-left: 0px;
  }

  .courses__cards a ~ a {
    margin-left: 0;
    margin-top: 20px;
  }

  .courses__cards a,
  .courses__card img {
    width: 100%;
    height: 100%;
  }

  .header__title {
    margin: 26% auto;
  }

  .speakers__info {
    margin-top: 20px;
  }

  .speakers__item ~ .speakers__item {
    margin-left: 0;
    margin-top: 40px;
  }

  .speakers__item:first-child {
    margin-right: 30px;
  }

  .speakers::before {
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 16px !important;
  }

  .speakers__item {
    width: 275px;
  }

  .speakers__item img {
    width: 275px;
  }

  .speakers__item::before {
    width: 275px;
    height: 275px;
    left: 15px;
  }

  .bonus {
    margin-top: 80px;
    height: 320px;
  }

  .bonus__text {
    font-size: 40px;
  }

  .bonus__text p {
    font-size: 16px;
  }

  .bonus__img {
    width: 48%;
    height: 110%;
  }

  .bonus-bg {
    height: 100%;
  }

  .bonus-bg::before {
    display: none;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
  }

  .course__bg {
    width: 47%;
  }

  .bonus__text {
    padding: 11% 0 0 6%;
  }

  .bonus__img {
    width: 45%;
    height: 101%;
    position: absolute;
    right: 0;
    top: -35%;
    overflow: hidden;
  }

  .bonus__img img {
    width: 124%;
    top: auto;
  }
}

@media screen and (max-width: 420px) {
  .header__title {
    width: 372px;
  }

  .footer .container {
    width: 220px;
    margin: 0 auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer__logo {
    margin-right: auto;
  }

  .bonus__img img {
    width: 124%;
    top: auto;
  }

  .speakers__item::before {
    height: 275px;
    left: 15px;
  }

  .bonus__img {
    width: 65%;
    height: 101%;
    position: absolute;
    right: 0;
    top: -35%;
    overflow: hidden;
  }

  .course__bg .course-bg-mob {
    left: -52%;
  }
  .courses__cards a:nth-child(21), .courses__cards a:nth-child(17), .courses__cards a:nth-child(16), .courses__cards a:nth-child(18), .courses__cards a:nth-child(22) {
    margin-left: 0;
  }
}

@media screen and (max-width: 380px) {
  .header__title {
    width: 345px;
  }

  .header__links a {
    font-size: 16px;
  }

  .logo {
    width: 107px;
    height: 45px;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .course__bg .course-bg-mob {
    top: -19%;
    left: -68%;
  }

  .speakers__item::before {
    height: 80%;
  }

  .bonus__img {
    width: 65%;
    height: 101%;
    position: absolute;
    right: 0;
    top: 10%;
  }

  .bonus__text {
    width: 75%;
  }

  .header__title {
    width: 100%;
    margin-top: 40px;
  }

  .header__content .text h1 {
    text-align: left;
  }

  .header__links a {
    letter-spacing: 0.03em;
  }

  .course__info {
    margin-top: 0;
  }

  .course__info h2 {
    letter-spacing: 0.03em;
  }

  .header small {
    font-size: 14px;
  }

  .header h1 {
    font-size: 37px;
    line-height: 125%;
    color: #FAFAFA;
    text-align: center;
  }

  .speakers {
    top: auto;
  }

  .email__content input {
    width: 100%;
  }

  .speakers .flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .speakers__info {
    margin-bottom: 60px;
    margin-top: 0;
  }

  .speakers__info h3 ~ h3 {
    margin-top: 24px;
  }

  .speakers__item:first-child {
    margin-right: 0;
  }

  .speakers__item:first-child p {
    font-size: 28px;
  }

  .bonus {
    margin-top: 105px;
  }

  .bonus__text {
    padding: 50px 0 0 15px;
  }

  .btn {
    height: 56px;
    font-size: 18px;
  }

  .bonus__img {
    top: -35%;
    overflow: hidden;
  }

  .bonus__img img {
    width: 124%;
    top: auto;
  }

  .speakers::before {
    height: 750px;
    right: 0;
    left: auto;
  }

  .footer {
    padding: 30px 0 40px 15px;
    margin: 134px 0 0 0;
    width: auto;
  }

  .footer .container {
    margin: 0;
    width: auto;
  }

  .footer__logo {
    margin-top: 0;
  }

  .footer__logo a:first-child {
    display: block;
    margin-bottom: 0;
  }

  .footer__logo a {
    display: none;
  }

  .footer-mob {
    display: block;
  }

  .footer-mob a {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #6D7278;
  }

  .footer-mob a ~ a {
    margin-top: 10px !important;
  }

  .btn {
    width: 100%;
  }
}
